.mediaViewInfo {
	--web-view-name: iPhone 6/7/8 – 1;
	--web-view-id: iPhone_6_7_8___1;
	--web-center-horizontally: true;
	--web-add-image-compare: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: iPhone_6_7_8___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.iPhone_6_7_8___1_Class {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 375px;
	height: 1555px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: iPhone 6/7/8 – 1;
	--web-view-id: iPhone_6_7_8___1;
	--web-center-horizontally: true;
	--web-add-image-compare: true;
	--web-enable-deep-linking: true;
}
._____316_Class {
	position: absolute;
	width: 1028px;
	height: 1630px;
	left: 0px;
	top: -108px;
	overflow: visible;
}
.________1_Class {
	position: absolute;
	width: 333px;
	height: 186px;
	left: 29px;
	top: 241px;
	overflow: visible;
}
._____276_Class {
	position: absolute;
	width: 373.091px;
	height: 101.608px;
	left: 0px;
	top: 108px;
	overflow: visible;
}
.ID93743128_Class {
	position: absolute;
	width: 373.091px;
	height: 101.608px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.____150_Class {
	opacity: 0.5;
}
.____150 {
	width: 3.518px;
	height: 16.63px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,3028.2275,-630.4913) rotate(90deg);
	transform-origin: center;
}
.____165 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	width: 3.518px;
	height: 16.63px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,3005.9595,-630.4913) rotate(90deg);
	transform-origin: center;
}
.____158_Class {
	opacity: 0.5;
}
.____158 {
	width: 3.518px;
	height: 16.63px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,3050.4956,-630.4913) rotate(90deg);
	transform-origin: center;
}
.____159_Class {
	opacity: 0.5;
}
.____159 {
	width: 3.518px;
	height: 16.63px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,3072.7634,-630.4913) rotate(90deg);
	transform-origin: center;
}
.____160_Class {
	opacity: 0.5;
}
.____160 {
	width: 3.518px;
	height: 16.63px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,3095.0313,-630.4913) rotate(90deg);
	transform-origin: center;
}
.____161_Class {
	opacity: 0.5;
}
.____161 {
	width: 3.518px;
	height: 16.63px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,3117.2988,-630.4913) rotate(90deg);
	transform-origin: center;
}
.____162_Class {
	opacity: 0.5;
}
.____162 {
	width: 3.518px;
	height: 16.63px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,3139.5667,-630.4913) rotate(90deg);
	transform-origin: center;
}
.____163_Class {
	opacity: 0.5;
}
.____163 {
	width: 3.518px;
	height: 16.63px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,3161.8347,-630.4913) rotate(90deg);
	transform-origin: center;
}
.____164_Class {
	opacity: 0.5;
}
.____164 {
	width: 3.518px;
	height: 16.63px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,3184.1025,-630.4913) rotate(90deg);
	transform-origin: center;
}
._0001_iPhone_X_Status_Bars_Sta_Class {
	position: absolute;
	width: 359px;
	height: 34px;
	left: 0px;
	top: 108px;
	overflow: visible;
}
.___94 {
	filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 49.355px;
	height: 61.52px;
	left: 22.706px;
	top: 154.531px;
	transform: matrix(1,0,0,1,0,0);
}
.___Class {
	position: absolute;
	left: 168px;
	top: 150px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
.brooke_lark_250695_unsplash_Class {
	opacity: 0.08;
	filter: blur(30px);
}
.brooke_lark_250695_unsplash {
	filter: drop-shadow(0px 10px 99px rgba(0, 0, 0, 0));
	position: absolute;
	overflow: visible;
	width: 799px;
	height: 655px;
	left: 26px;
	top: 254px;
}
._____Class {
	position: absolute;
	left: 36.449px;
	top: 436.328px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(62,63,104,1);
}
._2_600_Class {
	position: absolute;
	left: 36px;
	top: 454px;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(138,152,186,1);
}
.ID91ea94870fea4b341bc3f1f7da70__Class {
	opacity: 0;
	position: absolute;
	width: 333px;
	height: 108px;
	left: 695px;
	top: 0px;
	overflow: visible;
}
._____245_Class {
	position: absolute;
	width: 37.185px;
	height: 18.713px;
	left: 305.039px;
	top: 246.474px;
	overflow: visible;
}
.____117 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 55.185px;
	height: 36.713px;
	left: 0px;
	top: 0px;
}
._____244_Class {
	position: absolute;
	width: 18.562px;
	height: 8.752px;
	left: 7.214px;
	top: 4.395px;
	overflow: visible;
}
._____99_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
._____54_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___23 {
	overflow: visible;
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.ID4_5_Class {
	opacity: 0.8;
	position: absolute;
	left: 12.562px;
	top: 0.721px;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 5px;
	color: rgba(34,36,85,1);
}
.brooke_lark_250695_unsplash_bf_Class {
	opacity: 0.08;
	filter: blur(30px);
}
.brooke_lark_250695_unsplash_bf {
	filter: drop-shadow(0px 10px 99px rgba(0, 0, 0, 0));
	position: absolute;
	overflow: visible;
	width: 799px;
	height: 653px;
	left: 26px;
	top: 556px;
}
.ID06085e4e28cc625128a2d0e72bbf_Class {
	filter: drop-shadow(0px 10px 99px rgba(0, 0, 0, 0));
	position: absolute;
	width: 333px;
	height: 178px;
	left: 21px;
	top: 534px;
	overflow: visible;
}
.___bh_Class {
	position: absolute;
	left: 36.449px;
	top: 723.907px;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(62,63,104,1);
}
._1_000_Class {
	position: absolute;
	left: 32px;
	top: 751px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(138,152,186,1);
}
.rachel_park_366508_unsplash_bk_Class {
	opacity: 0;
}
.rachel_park_366508_unsplash_bk {
	width: 333px;
	height: 108px;
	position: absolute;
	overflow: visible;
	transform: translate(-2910px, 821px) matrix(1,0,0,1,2931,-212) rotate(180deg);
	transform-origin: center;
}
._____245_bl_Class {
	position: absolute;
	width: 37.185px;
	height: 18.713px;
	left: 305.039px;
	top: 541.619px;
	overflow: visible;
}
.____117_bm {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 55.185px;
	height: 36.713px;
	left: 0px;
	top: 0px;
}
._____244_bn_Class {
	position: absolute;
	width: 18.562px;
	height: 8.752px;
	left: 7.214px;
	top: 4.395px;
	overflow: visible;
}
._____99_bo_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
._____54_bp_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___23_bq {
	overflow: visible;
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.ID4_3_Class {
	opacity: 0.8;
	position: absolute;
	left: 12.562px;
	top: 0.721px;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 5px;
	color: rgba(34,36,85,1);
}
.___101 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 31.66px;
	top: 545.61px;
	transform: matrix(1,0,0,1,0,0);
}
._____285_Class {
	position: absolute;
	width: 333px;
	height: 241px;
	left: 21px;
	top: 822px;
	overflow: visible;
}
.brooke_lark_250695_unsplash_bu_Class {
	opacity: 0.08;
	filter: blur(30px);
}
.brooke_lark_250695_unsplash_bu {
	filter: drop-shadow(0px 10px 99px rgba(0, 0, 0, 0));
	position: absolute;
	overflow: visible;
	width: 788px;
	height: 655px;
	left: 10px;
	top: 18px;
}
.ID86078117_Class {
	filter: drop-shadow(0px 10px 99px rgba(0, 0, 0, 0));
	position: absolute;
	width: 333px;
	height: 185px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.____Class {
	position: absolute;
	left: 19.205px;
	top: 196.082px;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(62,63,104,1);
}
._1_280_Class {
	position: absolute;
	left: 19px;
	top: 222px;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(138,152,186,1);
}
.rachel_park_366508_unsplash_bz_Class {
	opacity: 0;
}
.rachel_park_366508_unsplash_bz {
	width: 322px;
	height: 108px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, -0.159px) matrix(1,0,0,1,6,72.1588) rotate(180deg);
	transform-origin: center;
}
._____245_b_Class {
	position: absolute;
	width: 37.185px;
	height: 18.713px;
	left: 279.819px;
	top: 10.395px;
	overflow: visible;
}
.____117_b {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 55.185px;
	height: 36.713px;
	left: 0px;
	top: 0px;
}
._____244_b_Class {
	position: absolute;
	width: 18.562px;
	height: 8.752px;
	left: 7.214px;
	top: 4.395px;
	overflow: visible;
}
._____99_b_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
._____54_b_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___23_b {
	overflow: visible;
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.ID4_2_Class {
	opacity: 0.8;
	position: absolute;
	left: 12.562px;
	top: 0.721px;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 5px;
	color: rgba(34,36,85,1);
}
._____264_Class {
	position: absolute;
	width: 333px;
	height: 245px;
	left: 21px;
	top: 1091px;
	overflow: visible;
}
.brooke_lark_250695_unsplash_b_Class {
	opacity: 0.08;
	filter: blur(30px);
}
.brooke_lark_250695_unsplash_b {
	filter: drop-shadow(0px 10px 99px rgba(0, 0, 0, 0));
	position: absolute;
	overflow: visible;
	width: 787px;
	height: 654px;
	left: 10px;
	top: 20px;
}
.ID86078117_b_Class {
	filter: drop-shadow(0px 10px 99px rgba(0, 0, 0, 0));
	position: absolute;
	width: 333px;
	height: 185px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.____ca_Class {
	position: absolute;
	left: 18.885px;
	top: 192.487px;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(62,63,104,1);
}
._1_850_Class {
	position: absolute;
	left: 19px;
	top: 226px;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(138,152,186,1);
}
.rachel_park_366508_unsplash_cd_Class {
	opacity: 0;
}
.rachel_park_366508_unsplash_cd {
	width: 322px;
	height: 108px;
	position: absolute;
	overflow: visible;
	transform: translate(45px, 10px) matrix(1,0,0,1,-39,62.0001) rotate(180deg);
	transform-origin: center;
}
._____245_ce_Class {
	position: absolute;
	width: 37.185px;
	height: 18.713px;
	left: 279.499px;
	top: 11.8px;
	overflow: visible;
}
.____117_cf {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 55.185px;
	height: 36.713px;
	left: 0px;
	top: 0px;
}
._____244_cg_Class {
	position: absolute;
	width: 18.562px;
	height: 8.752px;
	left: 7.214px;
	top: 4.395px;
	overflow: visible;
}
._____99_ch_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
._____54_ci_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___23_cj {
	overflow: visible;
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.ID4_2_ck_Class {
	opacity: 0.8;
	position: absolute;
	left: 12.562px;
	top: 0.721px;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 5px;
	color: rgba(34,36,85,1);
}
._____320_Class {
	position: absolute;
	width: 333px;
	height: 245px;
	left: 21px;
	top: 1385px;
	overflow: visible;
}
.brooke_lark_250695_unsplash_cm_Class {
	opacity: 0.08;
	filter: blur(30px);
}
.brooke_lark_250695_unsplash_cm {
	filter: drop-shadow(0px 10px 99px rgba(0, 0, 0, 0));
	position: absolute;
	overflow: visible;
	width: 787px;
	height: 654px;
	left: 10px;
	top: 20px;
}
.ID86078117_cn_Class {
	filter: drop-shadow(0px 10px 99px rgba(0, 0, 0, 0));
	position: absolute;
	width: 333px;
	height: 185px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.____co_Class {
	position: absolute;
	left: 18.885px;
	top: 192.487px;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(62,63,104,1);
}
._1_280_cp_Class {
	position: absolute;
	left: 19px;
	top: 226px;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(138,152,186,1);
}
.rachel_park_366508_unsplash_cr_Class {
	opacity: 0;
}
.rachel_park_366508_unsplash_cr {
	width: 322px;
	height: 108px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,6,72.0001) rotate(180deg);
	transform-origin: center;
}
._____245_cs_Class {
	position: absolute;
	width: 37.185px;
	height: 18.713px;
	left: 279.499px;
	top: 11.8px;
	overflow: visible;
}
.____117_ct {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 55.185px;
	height: 36.713px;
	left: 0px;
	top: 0px;
}
._____244_cu_Class {
	position: absolute;
	width: 18.562px;
	height: 8.752px;
	left: 7.214px;
	top: 4.395px;
	overflow: visible;
}
._____99_cv_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
._____54_cw_Class {
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.___23_cx {
	overflow: visible;
	position: absolute;
	width: 9.178px;
	height: 8.752px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.ID4_2_cy_Class {
	opacity: 0.8;
	position: absolute;
	left: 12.562px;
	top: 0.721px;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: center;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 5px;
	color: rgba(34,36,85,1);
}
.___112 {
	filter: drop-shadow(0px 3px 6px rgba(150, 150, 150, 0.161));
	overflow: visible;
	position: absolute;
	width: 68.517px;
	height: 58px;
	left: 284.515px;
	top: 436px;
	transform: matrix(1,0,0,1,0,0);
}
.___113 {
	filter: drop-shadow(0px 3px 6px rgba(150, 150, 150, 0.161));
	overflow: visible;
	position: absolute;
	width: 68.517px;
	height: 58px;
	left: 284.515px;
	top: 738px;
	transform: matrix(1,0,0,1,0,0);
}
.___114 {
	filter: drop-shadow(0px 3px 6px rgba(150, 150, 150, 0.161));
	overflow: visible;
	position: absolute;
	width: 68.517px;
	height: 58px;
	left: 284.515px;
	top: 1020px;
	transform: matrix(1,0,0,1,0,0);
}
.___115 {
	filter: drop-shadow(0px 3px 6px rgba(150, 150, 150, 0.161));
	overflow: visible;
	position: absolute;
	width: 68.517px;
	height: 58px;
	left: 284.515px;
	top: 1302px;
	transform: matrix(1,0,0,1,0,0);
}
.____c_Class {
	position: absolute;
	left: 295px;
	top: 446px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.____da_Class {
	position: absolute;
	left: 295px;
	top: 748px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.____db_Class {
	position: absolute;
	left: 295px;
	top: 1030px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.___c_Class {
	position: absolute;
	left: 295px;
	top: 1312px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.ID1_Class {
	position: absolute;
	left: 222px;
	top: 438px;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -5.5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.ID0_Class {
	position: absolute;
	left: 220px;
	top: 740px;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -5.5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.ID1_c_Class {
	position: absolute;
	left: 222px;
	top: 1022px;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -5.5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.ID1_da_Class {
	position: absolute;
	left: 222px;
	top: 1305px;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -5.5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.__Class {
	position: absolute;
	left: 192px;
	top: 431px;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	line-height: 37px;
	margin-top: -2.5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.__dc_Class {
	position: absolute;
	left: 192px;
	top: 733px;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	line-height: 37px;
	margin-top: -2.5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.__dd_Class {
	position: absolute;
	left: 192px;
	top: 1015px;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	line-height: 37px;
	margin-top: -2.5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.__de_Class {
	position: absolute;
	left: 192px;
	top: 1298px;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	line-height: 37px;
	margin-top: -2.5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.P_Class {
	position: absolute;
	left: 245px;
	top: 430px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.P_dg_Class {
	position: absolute;
	left: 245px;
	top: 732px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.P_dh_Class {
	position: absolute;
	left: 245px;
	top: 1014px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.P_di_Class {
	position: absolute;
	left: 245px;
	top: 1297px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -5px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(62,63,104,1);
	letter-spacing: 0.2px;
}
.___dj_Class {
	position: absolute;
	left: 41px;
	top: 241px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.___dk_Class {
	position: absolute;
	left: 41px;
	top: 537px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.___dl_Class {
	position: absolute;
	left: 41px;
	top: 827px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Button {
	position: absolute;
	overflow: visible;
	width: 316px;
	height: 56px;
	left: 30px;
	top: 712px;
}
.___________Class {
	position: absolute;
	left: 129px;
	top: 732px;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.iPhone_6_7_8___1_snapshot_Class {
	animation: fadein 5s linear 0s infinite;
	pointer-events: none;
	position: absolute;
	width: 375px;
	height: 1555px;
	left: 0;
	top: 0;
}
@keyframes fadein {

	0% {
		opacity: 1;
	}
	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}